<!DOCTYPE HTML>
<html>
<head>
    <title>EasyBearing &mdash; ChaseMapper</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet-sidebar.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet-control-topcenter.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/Leaflet.PolylineMeasure.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/leaflet-routing-machine.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/easy-button.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/tabulator_simple.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/chasemapper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bearing_pages.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bearing_entry.css') }}" rel="stylesheet">


    <!-- I should probably feel bad for using so many libraries, but apparently this is the way thing are done :-/ -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <!-- Leaflet plugins... -->
    <script src="{{ url_for('static', filename='js/leaflet.rotatedMarker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet-control-topcenter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/leaflet-sidebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Leaflet.Control.Custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Leaflet.PolylineMeasure.js') }}"></script>
    <script src="{{ url_for('static', filename='js/easy-button.js') }}"></script>



    <!-- Custom scripts -->

    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <!-- car.js: just for the multi-user identity helpers (my_car_client_id,
         getMyCarName, isMyOwnCarTelemetry, startSharingMyLocation,
         my_device_position_active) - this page doesn't render other
         chasers, so its map-marker functions are never called here. -->
    <script src="{{ url_for('static', filename='js/car.js') }}"></script>



    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script type="text/javascript" charset="utf-8">


        // Chase car position.
        // properties will contain:
        //   latest_data: [lat,lon, alt] (latest car position)
        //   heading: Car heading (to point icon appropriately.)
        //   marker: Leaflet marker
        var chase_car_position = {latest_data: [0.0,0.0,0.0], heading:0, marker: 'NONE', path: 'NONE'};

        var current_bearing = 0;

        var bearing_length = 20000;

        // Leaflet map instance.
        var map;



        // Socket.IO Settings
        var namespace = '/chasemapper';
        // Socket.IO instance.
        var socket;

        function modulus(x, m){
            return (x % m + m) % m;
        }

        $(document).ready(function() {

            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
            socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // Grab the System config on startup.
            // Refer to config.py for the contents of the configuration blob.
            $.ajax({
                  url: "/get_config",
                  dataType: 'json',
                  async: false, // Yes, this is deprecated...
                  success: function(data) {
                    serverSettingsUpdate(data);
                  }
            });

            //
            // LEAFLET MAP SETUP
            //
            // Setup a basic Leaflet map
            map = L.map('map', {zoomControl: false}).setView([chase_config.default_lat, chase_config.default_lon], 12);

            // Add OSM Map Layer
            var osm_map = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: ''
            });

            // Add OSM Topo Map Layer
            var osm_topo_map = L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                attribution: ''
            });

            // Add ESRI Satellite Map layers.
            var esrimapLink =
            '<a href="http://www.esri.com/">Esri</a>';
            var esriwholink =
            'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community';
            var esri_sat_map = L.tileLayer(
            'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
            {
                attribution: '',
                maxZoom: 18,
            });
            // Dark Matter map layer - default here, matching the Flight Deck's
            // dark map treatment (this page is always dark, no theme toggle).
            var dark_matter_map = L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/dark_all/{z}/{x}/{y}.png', {
                attribution: ''
            }).addTo(map);



            var map_layers = {'Dark Matter':dark_matter_map, 'OSM':osm_map, 'OpenTopo':osm_topo_map, 'ESRI Satellite':esri_sat_map};

            // Add ThunderForest layers, if we have a key provided.
            if (chase_config.thunderforest_api_key !== 'none'){
                // Thunderforest Outdoors layer.
                var thunderforest_outdoors = L.tileLayer('https://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey='+chase_config.thunderforest_api_key,
                {
                    attribution: ''
                });
                map_layers['Outdoors (Terrain)'] = thunderforest_outdoors;

            }

            if (chase_config.stadia_api_key !== 'none'){
                // Stadia Alidade Smooth Dark Layer.
                var alidade_smooth_dark = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png?apikey='+chase_config.stadia_api_key,
                {
                    attribution: ''
                });
                map_layers['Alidade Smooth Dark'] = alidade_smooth_dark;

            }

            // Add Offline map layers, if we have any.
            for (var i = 0, len = chase_config.offline_tile_layers.length; i < len; i++) {
                var _layer_name = chase_config.offline_tile_layers[i];
                map_layers['Offline - ' + _layer_name] = L.tileLayer(location.protocol + '//' + document.domain + ':' + location.port + '/tiles/'+_layer_name+'/{z}/{x}/{y}.png');
            }




            // Add layer selection control (top right).
            map.addControl(new L.Control.Layers(map_layers));
            map.zoomControl = L.control.zoom({position: 'topright'}).addTo(map);

            L.easyButton('fa-car', function(btn, map){
                map.panTo(chase_car_position.latest_data);
            }, 'Follow Chase Car', 'followCarButton', {
                position: 'topright'
            }
            ).addTo(map);


            chase_car_position.marker = L.marker(chase_car_position.latest_data,{title:"Chase Car", icon: carIcon, rotationOrigin: "center center"})
                    .addTo(map);

            var bearing_path = L.polyline([chase_car_position.latest_data],{title:"Bearing", color:'#FFCB05', weight:2.5, dashArray: '5 6', opacity: 0.55});
            bearing_path.addTo(map);


            function calculateDestination(latlng, heading, distance) {
                heading = (heading + 360) % 360;
                var rad = Math.PI / 180,
                    radInv = 180 / Math.PI,
                    R = 6378137, // approximation of Earth's radius
                    lon1 = latlng.lng * rad,
                    lat1 = latlng.lat * rad,
                    rheading = heading * rad,
                    sinLat1 = Math.sin(lat1),
                    cosLat1 = Math.cos(lat1),
                    cosDistR = Math.cos(distance / R),
                    sinDistR = Math.sin(distance / R),
                    lat2 = Math.asin(sinLat1 * cosDistR + cosLat1 *
                        sinDistR * Math.cos(rheading)),
                    lon2 = lon1 + Math.atan2(Math.sin(rheading) * sinDistR *
                        cosLat1, cosDistR - sinLat1 * Math.sin(lat2));
                lon2 = lon2 * radInv;
                lon2 = lon2 > 180 ? lon2 - 360 : lon2 < -180 ? lon2 + 360 : lon2;
                return L.latLng([lat2 * radInv, lon2]);
            }

            // Rotates the dial's handle group + updates the degree readout.
            // Does NOT touch the map (see updateBearing()) - called on every
            // drag/nudge so the dial feels immediate even before the next
            // map redraw.
            function updateDialUI(){
                document.getElementById('bpDialHandle').setAttribute('transform', 'rotate(' + current_bearing + ' 150 150)');
                document.getElementById('bpDialReadout').textContent = current_bearing.toFixed(0) + '°';
            }

            function updateBearing(){
                var _end = calculateDestination(L.latLng(chase_car_position.latest_data), current_bearing, bearing_length);

                bearing_path.setLatLngs([L.latLng(chase_car_position.latest_data), _end]);

                updateDialUI();
            }

            function setBearing(value){
                current_bearing = modulus(value, 360.0);
                updateBearing();
            }

            // Nudge buttons
            $('.bp-nudge-btn').on('click', function(){
                setBearing(current_bearing + parseFloat($(this).attr('data-delta')));
            });

            // Drag-to-aim on the dial itself - large touch target (the whole
            // dial face, not just the handle), since this is meant to be
            // usable one-handed in a moving vehicle.
            var _dialWrap = document.getElementById('bpDialWrap');
            var _dialSvg = document.getElementById('bpDialSvg');
            var _dragging = false;

            function angleFromPointer(evt){
                var _rect = _dialSvg.getBoundingClientRect();
                var _scale = 300 / _rect.width;
                var _x = (evt.clientX - _rect.left) * _scale;
                var _y = (evt.clientY - _rect.top) * _scale;
                var _deg = Math.atan2(_x - 150, -(_y - 150)) * 180 / Math.PI;
                return modulus(_deg, 360);
            }

            _dialWrap.addEventListener('pointerdown', function(evt){
                if ($('#bpDialSheet').hasClass('bp-sheet--warning')) return;
                _dragging = true;
                try{ _dialWrap.setPointerCapture(evt.pointerId); }catch(e){}
                setBearing(angleFromPointer(evt));
            });
            _dialWrap.addEventListener('pointermove', function(evt){
                if (!_dragging) return;
                setBearing(angleFromPointer(evt));
            });
            function _endDrag(evt){
                if (!_dragging) return;
                _dragging = false;
                try{ _dialWrap.releasePointerCapture(evt.pointerId); }catch(e){}
            }
            _dialWrap.addEventListener('pointerup', _endDrag);
            _dialWrap.addEventListener('pointercancel', _endDrag);

            // Tell the server we are connected and ready for data.
            socket.on('connect', function() {
                socket.emit('client_connected', {data: 'I\'m connected!'});
                // This will cause the server to emit a few messages telling us to fetch data.
            });


            // Report our own position continuously, same as the main map -
            // this page exists specifically for someone to call out bearings
            // from wherever *they* are, so it needs to know that.
            startSharingMyLocation();

            var _toastTimer = null;
            function showBearingSentToast(value){
                $('#bpToastText').text('Bearing sent · ' + value.toFixed(0) + '°');
                $('#bpToast').addClass('is-visible');
                if (_toastTimer) clearTimeout(_toastTimer);
                _toastTimer = setTimeout(function(){ $('#bpToast').removeClass('is-visible'); }, 2600);
            }

            var _errorToastTimer = null;
            function showErrorToast(message){
                $('#bpErrorToastText').text(message);
                $('#bpErrorToast').addClass('is-visible');
                if (_errorToastTimer) clearTimeout(_errorToastTimer);
                _errorToastTimer = setTimeout(function(){ $('#bpErrorToast').removeClass('is-visible'); }, 3200);
            }

            $('#bpSendBtn').on('click', function(){
                // Push a bearing to the backend for display.
                _bearing_info = {
                    'type': 'BEARING',
                    'bearing_type': 'absolute',
                    'source': 'EasyBearing',
                    'latitude': chase_car_position.latest_data[0],
                    'longitude': chase_car_position.latest_data[1],
                    'bearing': current_bearing,
                    'client_id': my_car_client_id,
                    'name': getMyCarName() || undefined
                };

                socket.emit('add_manual_bearing', _bearing_info);
                showBearingSentToast(current_bearing);
            });

            socket.on('bearing_rejected', function(data){
                var _reason = (data && data.reason) || '';
                if (_reason === 'no_known_position'){
                    updateLocationWarning(true);
                } else {
                    showErrorToast('Bearing not recorded.');
                }
            });

            $('#bpEnableLocationBtn').on('click', function(){
                startSharingMyLocation();
                updateLocationWarning();
            });

            function updateLocationWarning(force_on){
                var _sharing = !force_on && (typeof my_device_position_active !== 'undefined') && my_device_position_active;
                $('#bpDialSheet').toggleClass('bp-sheet--warning', !_sharing);
            }
            updateLocationWarning();
            setInterval(updateLocationWarning, 1000);


            function handleTelemetry(data){
                // Telemetry Event messages contain a dictionary of position data.
                // It should have the fields:
                //  callsign: string
                //  position: [lat, lon, alt]
                //  vel_v: float
                //  time_to_landing: String
                // If callsign = 'CAR', the lat/lon/alt will be considered to be a car telemetry position.

                // Handle chase car position updates. Ignore telemetry for
                // other connected chasers' cars - this page only cares about
                // its own position (see isMyOwnCarTelemetry in car.js).
                if (data.callsign == 'CAR' && isMyOwnCarTelemetry(data)){
                    // Update car position.
                    chase_car_position.latest_data = data.position;
                    chase_car_position.heading = data.heading; // degrees true
                    chase_car_position.speed = data.speed; // m/s

                    chase_car_position.marker.setLatLng(chase_car_position.latest_data).update();
                    map.panTo(chase_car_position.latest_data, {animate: false});
                    updateBearing();
                }
            }


            // Telemetry event handler.
            // We will get one of these mesages with every new balloon position
            socket.on('telemetry_event', function(data) {
                handleTelemetry(data);
            });

            updateDialUI();
        });
    </script>
</head>
<body class="dark-theme">
    <div id="map" class="map bp-map"></div>

    <div class="bp-header">
        <a href="/" class="bp-back" aria-label="Back to map">
            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 18l-6-6 6-6"></path></svg>
        </a>
        <div class="bp-header-title">EasyBearing</div>
        <div class="bp-header-spacer"></div>
    </div>

    <div id="bpToast" class="bp-toast">
        <span class="bp-toast-check">&check;</span>
        <span id="bpToastText" class="bp-toast-text">Bearing sent</span>
    </div>

    <div id="bpErrorToast" class="bp-error-toast">
        <span id="bpErrorToastText">Bearing not recorded.</span>
    </div>

    <div id="bpDialSheet" class="bp-dial-sheet">
        <div class="bp-normal-state">
            <div class="bp-dial-col">
                <div class="bp-dial-label mono">EASYBEARING</div>
                <div id="bpDialWrap" class="bp-dial-wrap">
                    <svg id="bpDialSvg" class="bp-dial-svg" viewBox="0 0 300 300">
                        <circle cx="150" cy="150" r="60" fill="none" stroke="rgba(255,255,255,.08)"></circle>
                        <circle cx="150" cy="150" r="100" fill="none" stroke="rgba(255,255,255,.08)"></circle>
                        <circle cx="150" cy="150" r="135" fill="none" stroke="rgba(255,255,255,.1)"></circle>
                        <line x1="150" y1="15" x2="150" y2="285" stroke="rgba(255,255,255,.06)"></line>
                        <line x1="15" y1="150" x2="285" y2="150" stroke="rgba(255,255,255,.06)"></line>
                        <g id="bpDialHandle" transform="rotate(0 150 150)">
                            <line x1="150" y1="150" x2="150" y2="30" stroke="#FFCB05" stroke-width="3"></line>
                            <circle cx="150" cy="30" r="13" fill="#FFCB05" stroke="#0a0d16" stroke-width="3"></circle>
                        </g>
                        <circle cx="150" cy="150" r="4" fill="rgba(255,255,255,.4)"></circle>
                        <text x="150" y="34" text-anchor="middle" fill="rgba(230,238,246,.45)" font-family="IBM Plex Mono, monospace" font-size="13">N</text>
                        <text x="150" y="272" text-anchor="middle" fill="rgba(230,238,246,.45)" font-family="IBM Plex Mono, monospace" font-size="13">S</text>
                        <text x="268" y="154" text-anchor="middle" fill="rgba(230,238,246,.45)" font-family="IBM Plex Mono, monospace" font-size="13">E</text>
                        <text x="30" y="154" text-anchor="middle" fill="rgba(230,238,246,.45)" font-family="IBM Plex Mono, monospace" font-size="13">W</text>
                    </svg>
                    <div id="bpDialReadout" class="bp-dial-readout mono">000&deg;</div>
                </div>
            </div>
            <div class="bp-controls-col">
                <div class="bp-nudge-row">
                    <button type="button" class="bp-nudge-btn" data-delta="-10">&minus;10&deg;</button>
                    <button type="button" class="bp-nudge-btn" data-delta="-5">&minus;5&deg;</button>
                    <button type="button" class="bp-nudge-btn" data-delta="-1">&minus;1&deg;</button>
                    <button type="button" class="bp-nudge-btn" data-delta="1">+1&deg;</button>
                    <button type="button" class="bp-nudge-btn" data-delta="5">+5&deg;</button>
                    <button type="button" class="bp-nudge-btn" data-delta="10">+10&deg;</button>
                </div>
                <button type="button" id="bpSendBtn" class="bp-send-btn">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#0a0d16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                    Send Bearing
                </button>
                <div class="bp-dial-hint mono">or drag the dial handle to aim</div>
            </div>
        </div>
        <div class="bp-warning-state">
            <div class="bp-warning-box">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 9v4"></path><path d="M12 17h.01"></path><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path></svg>
                <div>
                    <div class="bp-warning-title">Location sharing is off</div>
                    <div class="bp-warning-sub">A bearing needs your position to be recorded. Enable sharing to continue.</div>
                </div>
            </div>
            <button type="button" id="bpEnableLocationBtn" class="bp-warning-btn">Enable Location Sharing</button>
            <div class="bp-warning-ghost">
                <div class="bp-warning-ghost-label mono">DIAL DISABLED</div>
                <svg width="110" height="110" viewBox="0 0 300 300">
                    <circle cx="150" cy="150" r="60" fill="none" stroke="rgba(255,255,255,.08)"></circle>
                    <circle cx="150" cy="150" r="100" fill="none" stroke="rgba(255,255,255,.08)"></circle>
                    <circle cx="150" cy="150" r="135" fill="none" stroke="rgba(255,255,255,.1)"></circle>
                    <circle cx="150" cy="150" r="4" fill="rgba(255,255,255,.3)"></circle>
                </svg>
            </div>
        </div>
    </div>
</body>
</html>
